body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #a3d5ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.title-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-header .logo{
    width: 48px;
    height: auto;
}