html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #a3d5ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main {
    flex: 1;
    background-color: #f7c5cc;
}

footer {
    background-color: #a8e6cf;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    margin-left: 15px;

}

.nav-links a:not(:first-child)::before {
  content: "|";
  margin-right: 15px;
  color: #666666;
}

.nav-links a:hover {
    color: #f7c5cc;
}

.title-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-header h1 {
    font-family: 'Fredoka', sans-serif;
}

.title-header .logo{
    width: 48px;
    height: auto;
}

.container {
    background-color: #ffffff;
    width: 65%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 32px;
    border-radius: 12px;
    border-color: #a8e6cf;
    border-style: solid;
}

.container h1 {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}